body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* common shared style start */
nav .header-title .text-primary {
    color: #FD6E0A;
}

.primary-btn {
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 18px 35px;
}

main {
    margin: 0 180px;
}

.section-title {
    text-align: center;
    padding: 130px;
}

.section-title h2 {
    padding-bottom: 30px;
}

.section-title p {
    line-height: 25px;
}

/* common shared style end */


/* nav style start */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left top;
    margin-bottom: 130px;
}

nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 70px 200px;
}


nav .header-title {
    color: black;
    font-weight: 900;
    font-size: 40px;
}

nav a {
    text-decoration: none;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

nav li a {
    color: rgb(10, 10, 10);
}


/* nav style end */




/* header banner style start */
.header-banner {
    padding: 120px 30px 0px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-banner .header-detail {
    color: #181818;
}


.header-banner .header-detail h3 {
    color: #181818;
    font-size: 40px;
}

.header-banner .header-detail h1 {
    color: #181818;
    font-weight: bold;
    font-size: 80px;
    padding: 10px 0px 20px 0px;
}

.header-banner .header-detail p {
    color: #757575;
    line-height: 30px;
    padding: 10px 0px 30px 0px;
}

.header-banner .header-detail .buttons button {
    margin-right: 20px;
}

.header-banner img {
    width: 400px;
}

/* header banner style end */


/* about section start */

.about {
    background: #FFF8F3;
}


.about .about-title p {
    padding: 15px;
    line-height: 27px;
}

.about .about-detail {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* about section end */



/* service section start */
.my-services {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}

.my-services .services {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}

.my-services .services img {
    padding-bottom: 30px;
}

.my-services .services h3 {
    padding-bottom: 20px;
}


.my-services .services p {
    line-height: 25px;
}

/* service section end */




/* resume section start */

.resume-column {
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}

.resume-column .resume-item {
    padding-bottom: 30px;

}


.resume-column .resume-items .resume-item h3 {
    font-size: 28px;
    padding-bottom: 30px;
}


.resume-column .resume-items .resume-item h5 {
    padding: 0px 0px 10px 0px;
    font-size: 24px;
}

.resume-column .resume-items .resume-item span {
    font-size: 18px;
    color: #757575;
    font-weight: 700;
}

.resume-column .resume-items .resume-item p {
    padding: 20px 0px 30px 0px;
}

.resume .cv-btn {
    text-align: center;
    margin-bottom: 113px;
}

/* resume section end */



/* footer section start */
footer {
    background: #FFF8F3;
}


.footer-information {
    padding-top: 130px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}


.footer-information .footer-info p {
    padding: 20px 0px 30px 0px;
}


.footer-information .footer-info .smm-logo img {
    margin-right: 20px;
}

.footer-information .footer-form input {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
.footer-information .footer-form textarea{
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
}

/* footer section end */