body, * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* common shared style start */
nav .header-title .text-primary {
    color: #FD6E0A;
}

.primary-btn{
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 18px 35px;
}

main{
    margin: 0 180px;
}

.section-title{
    text-align: center;
    padding: 130px;
}

.section-title h2{
    padding-bottom: 30px;
}

.section-title p{
    line-height:25px;
}
/* common shared style end */


/* nav style start */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left top;
    margin-bottom: 130px;
}
nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 70px 200px;
}


nav .header-title {
    color: black;
    font-weight: 900;
    font-size: 40px;
}

nav a {
    text-decoration: none;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

nav li a {
    color: rgb(10, 10, 10);
}


/* nav style end */




/* header banner style start */
.header-banner{
    padding: 120px 30px 0px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-banner .header-detail{
    color: #181818;
}


.header-banner .header-detail h3{
    color: #181818;
    font-size: 40px;
}

.header-banner .header-detail h1{
    color: #181818;
    font-weight: bold;
    font-size: 80px;
    padding: 10px 0px 20px 0px;
}

.header-banner .header-detail p{
    color: #757575;
    line-height: 30px;
    padding: 10px 0px 30px 0px;
}

.header-banner .header-detail .buttons button{
    margin-right: 20px;
}

.header-banner img{
    width: 400px;
}
/* header banner style end */


/* about section start */

.about{
    background: #FFF8F3;
}


.about .about-title p{
    padding: 15px;
    line-height: 27px;
}

.about .about-detail{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* about section end */



/* service section start */
.my-services{
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    
}

.my-services .services{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.my-services .services img{
    padding: 30px 0px;
}
.my-services .services h3{
    padding-bottom: 20px;
}


.my-services .services p{
    padding-bottom: 30px;
    line-height: 25px;
}
/* service section end */




/* resume section start */
.resume-column{
    display: flex;
}
/* resume section end */